{
  "presets": [
    "flow",
    "react"
  ],
  "plugins": [
    "transform-async-to-generator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "DEV": { "presets": [["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }]] },
    "TEST": { "presets": ["env", "power-assert"], "plugins": ["istanbul"] },
    "BUILD": { "presets": ["es2015-rollup"], "plugins": ["transform-react-constant-elements"] }
  }
}