{
  "env": {
    "BUILD": {
      "presets": [
        "es2015-rollup",
        "react"
      ],
      "plugins": [
        "transform-async-to-generator",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }]
      ]
    },
    "TEST": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "flow",
        "react"
      ],
      "plugins": [
        "istanbul",
        "rewire",
        ["espower", { "embedAst": true }],
        "empower-assert"
      ]
    }
  }
}